	<div class="header">
		<span class="logo"></span>
		<h1 class="title">Troop Wecode's Cookie Sales</h1>
	</div>
	<div class="scallops"></div>

	<!-- View 2 -->
	<div id="leaderboard" style="width: 80%;"></duv>

